body {
  background: #f2f2f5;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 500;
  font-style: normal;
  height: 0;
}
.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 1rem;

}
.title {
  font-size: 3.2rem;
  margin: 2rem 0;
  text-align: center;
}
.section-title{
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  margin: .5rem 2rem;
}
.section-style {
  background-color: #fff;
  box-shadow: 0 0 0.6rem 0 #00000047;
  padding: .5rem;
  border-radius: 1%;
}
