.courses{
  font-size: 1.4rem;
  max-height: 37vh;
  margin-right: 2.5rem;
  overflow: auto;

  scrollbar-color: rgba(208, 30, 122, .7) rgb(255, 255, 255);
  scrollbar-width: none;

  -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.courses:hover{
  scrollbar-width: thin;
}
.courses__item{
  font-weight: 500;
margin-bottom: 1rem;
padding: .3rem .3rem;
}
.courses__item:nth-child(even){
  color: #fff;
background: rgba(208, 30, 122, .7);
}
.courses__item:last-child{
margin-bottom: 0;
}

.courses::-webkit-scrollbar{
  display: none;
}
.courses:hover::-webkit-scrollbar{
  display: block;
width: .2rem;
}
.courses:hover::-webkit-scrollbar-thumb{
  background-color: rgba(208, 30, 122, .7);
}